<?xml version="1.0"?>
<monthly>


<event><name>Assignment</name><startdate>2017-01-24</startdate><enddate>2017-01-25</enddate><starttime>1:45 PM</starttime><endtime>1:45 PM</endtime></event><event><name>ll</name><startdate>2017-01-28</startdate><enddate>2017-01-20</enddate><starttime>3:30 PM</starttime><endtime>3:30 PM</endtime></event></monthly>
