<?xml version="1.0"?>
<monthly>


<event><name>Student admission cards Available</name><startdate>2017-01-30</startdate><enddate>2017-01-30</enddate><starttime>3:45 AM</starttime><endtime>3:45 AM</endtime></event><event><name>Course Coordinator</name><startdate>2017-01-23</startdate><enddate>2017-01-27</enddate><starttime>4:00 AM</starttime><endtime>4:00 AM</endtime></event><event><name>CSC Coordinator</name><startdate>2017-01-25</startdate><enddate>2017-01-26</enddate><starttime>4:00 AM</starttime><endtime>4:00 AM</endtime></event><event><name>ds</name><startdate>2017-01-26</startdate><enddate>2017-01-28</enddate><starttime>1:00 PM</starttime><endtime>1:00 PM</endtime></event></monthly>
